@import "tailwindcss";

@theme {
  --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Consolas", monospace;
}

@plugin "daisyui" {
  themes:
    sociallylight --default,
    sociallydark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "sociallylight";
  default: true;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #fafafa;
  --color-base-300: #e5e5e5;
  --color-base-content: #171717;
  --color-base-content-tertiary: #a6a6a6;
  --color-base-content-secondary: #737373;
  --color-base-content-opposite: #171717;

  --color-primary: #3b82f6;
  --color-primary-content: #ffffff;

  --color-secondary: #7e97c0;
  --color-secondary-content: #ffffff;

  --color-accent: #8d9cb5;
  --color-accent-content: #ffffff;

  --color-neutral: #0a0a0a;
  --color-neutral-content: #fafafa;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  --color-success: #10b981;
  --color-success-content: #ffffff;

  --radius-box: 12px;
  --radius-field: 6px;
  --radius-selector: 6px;
}

@plugin "daisyui/theme" {
  name: "sociallydark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #0a0a0a;
  --color-base-200: #171717;
  --color-base-300: #262626;
  --color-base-content: #fafafa;
  --color-base-content-tertiary: #575757;
  --color-base-content-secondary: #a3a3a3;
  --color-base-content-opposite: #fafafa;

  --color-primary: #3b82f6;
  --color-primary-content: #ffffff;

  --color-secondary: #7e97c0;
  --color-secondary-content: #0a0a0a;

  --color-accent: #8d9cb5;
  --color-accent-content: #0a0a0a;

  --color-neutral: #fafafa;
  --color-neutral-content: #0a0a0a;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  --color-success: #10b981;
  --color-success-content: #ffffff;

  --radius-box: 12px;
  --radius-field: 6px;
  --radius-selector: 6px;
}

@font-face {
  font-family: "Inter";
  src: local("Inter");
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
